/* Font Names ============ 
1. SSTBoldCn.TTF 
2. SSTHeavy.TTF
3. SSTLight.TTF 
4. SSTMedium.TTF 
5. SSTMediumCn.TTF 
6. SSTRg.TTF SSTRgCn.TTF
7. SSTBold.TTF
======================== */


@font-face {
    font-family: "SSTBold";
    src: url(../fonts/SSTBold.TTF);
}

@font-face {
    font-family: "SSTBoldCn";
    src: url(../fonts/SSTBoldCn.TTF);
}

@font-face {
    font-family: "SSTHeavy";
    src: url(../fonts/SSTHeavy.TTF);
}

@font-face {
    font-family: "SSTLight";
    src: url(../fonts/SSTLight.TTF);
}

@font-face {
    font-family: "SSTMedium";
    src: url(../fonts/SSTMedium.TTF);
}

@font-face {
    font-family: "SSTMediumCn";
    src: url(../fonts/SSTMediumCn.TTF);
}

@font-face {
    font-family: "SSTRg";
    src: url(../fonts/SSTRg.TTF);
}

@font-face {
    font-family: "SSTRgCn";
    src: url(../fonts/SSTRgCn.TTF);
}